/*------------------Reloj----------------------------*/

.wrap {
    width: 80%;
    color: black;
}

.widget {
    width: 100%;
    margin: 10px;
}

.widget p {
    display: inline-block;
    line-height: 5px;
}

.fecha {
    font-size: 25px;
    opacity: 0.6;
}

.reloj {
    font-size: 30px;
    opacity: 0.6;
}

.reloj .caja-segundos {
    display: inline-block;
}

.reloj .segundos,
.reloj .ampm {
    font-size: 30px;
    display: inline-block;
}